.submission-details{
  display: flex;
  flex-wrap: wrap;
 justify-content: space-between;
}

.fa-trash{
  color: red;
  font-size: 20px;
}

h6{ 
  font-family: 'Lobster Two', cursive;
  font-size: 20px;
  font-weight: bold;
}