.more{
  float: right;
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
}

.jumbotron{
  background-color: rgb(243, 141, 170);
}

.page-footer{
  background-color: rgb(243, 141, 170);
  font-weight: bold;
  color: black;
  height: 20vh;
  padding-top: 50px;
}

.card-body {
  background-color: rgb(212, 237, 247);
  padding-top: 50px;
  padding-bottom: 40px;
}

.card-body:mb-3{
  box-shadow: 0 5px 10px rgba(0,0,0,2);
}

p{
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  font-weight: 500;
}

.fa-thumbs-up, .fa-thumbs-down{
  font-size: 20px;
  width: 40px;
  height: 25px;
}

.space{
  margin-right: 10px;
}

.fa-thumbs-up:hover, .fa-thumbs-down:hover{
  color: skyblue;
}