<div class="container quotes-form">
  <div class="card card-body">
        <form #entryForm='ngForm' (ngSubmit)= "submitQuote()">
          <div class="form-group entry-areas">
            <input type="text" class="form-control" id="authorName" name="author" #author='ngModel' [(ngModel)]="newQuote.authorName" required>
            <i class="fa fa-user" aria-hidden="true"></i>
            <label for="author">Author's Name</label>
          </div>
          {{newQuote.authorName}}
          <div class="form-group entry-areas">
            <textarea type="text" class="form-control" id="form" name="quote" [(ngModel)]="newQuote.quote" #quote='ngModel'></textarea>
            <i class="fa fa-quote-left" aria-hidden="true" required></i>
            <label for="quote">Enter Quote</label>
          </div>
          {{newQuote.quote}}
          <div class="form-group entry-areas">
            <input type="text" class="form-control" id="submittedBy" name="poster" [(ngModel)]="newQuote.submittedBy" #poster='ngModel' required>
            <i class="fa fa-user" aria-hidden="true"></i>
            <label>Submitted By</label>
          </div>
          {{newQuote.submittedBy}}
        <button [disabled]="newQuote.authorName == '' || newQuote.quote == '' || newQuote.submittedBy == ''" class="btn btn-primary btn-block mb-3" type="submit">Submit Quote</button>
    </form>
  </div> 
</div>
